extends ./layout.jade

block navbar

block style
  link(rel="stylesheet", href="/stylesheets/auth.css")


block content
 
 #load.container
       //- mountain background
      #loadBack
        img#mountain(src='http://i.imgur.com/a9wPVK5.png')
      #signUp
        #user
          form(action="/auth/login" method="POST")
            input#UN.loginOUR(type="text" name="user[username]" placeholder="Username or Email")
            input#UP.loginOUR(type="password" name="user[password]" placeholder="Password")
            input#LI(type="submit" value=" LOG IN OR SIGN UP")  
            
        
        #loginFB
          form(action="/auth/facebook")
            input(type="image" src='/graphics/buttons/loginFbBTN.png' id="fieldFB saveForm" class="BTN submit")
          
        #loginG
          form(action="/auth/google")
            input(type="image" src='/graphics/buttons/loginGoggleBTN.png' id="fieldG saveForm" class="BTN submit")
            



      
