#load { 
  padding: 0;
  
}

#mountain {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /*position:relative;

  z-index: 1;*/
}

/*my load*/
.container {
  width: 100px;
  height: 100px;
  position: relative;
}

/*Mountain, load back*/
#loadBack {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

/*login buttons my auth*/
.BTN{
  width: 100%;
}

#signUp{
  position: relative;
  z-index: 1;
  top: 39%;
}


#loginFB{
  position: absolute;
  z-index: 4;
  top: 158px;
}

#loginG{
  position: absolute;
  z-index: 5;
  top: 210px;
}

.loginOUR{
  background-color:rgba(255,255,255, 0.3);
  border: 1px solid rgba(255,255,255, 0.1);
  border-radius: 9px;
  width: 80%;
  height: 42px;
  margin-right: 10%;
  margin-left: 11.5%;
}

/*user name*/
#UN {  
  margin-top: 10%
}

/*user password*/
#UP {
  margin-top: 3%
}

/*LOG IN OR SIGN UP*/
#LI {
  margin-top: 3%;
  margin-left: 31%;
  
}

input{
  text-align:center;
  font-family: inherit;
  font-size: 100%;
  color:#534F9F;
}

/*TODO:
Create separate mountain image for ipad etc */
@media screen and (min-width : 480px) {
  #mountain{ 
    content:url("http://i.imgur.com/aZXBDbX.png") !important;  
  }

 /* #signUp{
  position: relative;
  z-index: 1;
  top: 39%;
  padding-left: 20%
}*/

}  

/*iPad portrait*/
 @media screen and (min-width : 767px) {
  #mountain { 
    content:url("http://i.imgur.com/aZXBDbX.png") !important;   
  }

    /*#signUp{
    margin-left: 30%;*/
  }

  #user {
    width: 50%;
    margin-left: 25%
  }

  .BTN {
    width: 50%;
    margin-left: 25%
  }
 
 }

/*iPad Landscape large screens*/
 @media screen and (min-width : 1024px) { 
    #mountain{
      content:url("http://i.imgur.com/Hp2KIvwg.png" )!important;
      
   }
}

/*desktop*/
  @media screen and (min-width : 1280px) { 
  #mountain{
      content:url("http://i.imgur.com/w7zkDEi.png") !important;
      
  }
}
